<div *ngIf="job != null" class="container">
  <div class="row">
    <div class="col-8 mt-5">
      <h1 class="w-100">{{job.name}}</h1>
      <div>
        <h3>About author</h3>
        <p>Author...</p>
      </div>
      <div>
        <h3>Job Description</h3>
        <p>I will...</p>
      </div>
      <button class="btn btn-success" routerLink="purchase-form/{{job.id}}">Continue</button>
    </div>
    <div class="col-4 side-tab">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>Tab 1</ng-template>
          <ng-template ngbTabContent>
            <p>Tab 1 Content</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Tab 2</ng-template>
          <ng-template ngbTabContent>
            <p>Tab 2 Content</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Tab 3</ng-template>
          <ng-template ngbTabContent>
            <p>Tab 3 Content</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
